@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Inter', sans-serif;

} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0;
  width: 100%;
  height: 4em;
}

header > p {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 18px;

}

.main-content {
  /* border: solid 1px green; */
  max-width: 60em;
  /* margin: 3em 10em; */
  /* margin-top: 20px; */
  margin: 3em  auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 3em;
  padding: 5px;

}

.card {
  /* border: 1px solid purple; */
  display: flex;
  gap: 10px;
  max-width: 800px;
  /* justify-self: center; */
  align-self: center;
  /* margin: 3em auto; */
  /* height: 300px; */
  /* max-width: 60em; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */

}

.card-img > img {
  width: 200px;
  height: 255px;
  /* height: -webkit-fill-available; */
  border-radius: 5px;
}

.card-text {
  padding: 10px 0 10px 0;
}


.location-info{
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
}

.location-info > img {
  /* width: 5%; */
  /* height: 50%; */
  /* margin: 1px; */
  height: 18px;
}

.location-info > h3 {
  margin: 0 20px 0 0;
  font-size: 18px;
  text-transform: uppercase;
}

.location-info > a {
  color: grey;
  font-size: 16px;
  /* font-weight: normal; */

}

.dates {
  font-weight: bold;
}

.description {
  /* height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
